name: Build
on:
  release:
    types:
      - created

jobs:

  build_image:
    name: Build Image
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2

      - name: Publish to Registry
        uses: elgohr/Publish-Docker-Github-Action@master
        with:
          name: release-lib/proxy-pool
          username: ${{ secrets.DOCKER_PUSH_USERNAME }}
          password: ${{ secrets.DOCKER_PUSH_PWD }}
          registry: registry.cn-shanghai.aliyuncs.com
          dockerfile: Dockerfile
          tagging: true
